body {
  background-color: gray;
  width: 450px;
  margin: 5% auto;
  color: white;
  font-family: arial;
  font-size: 18px;
}

h1 {
  font-family: "indie flower", cursive;
  font-size: 46px;
}

#break-length, #session-length, .col-xs-2 {
  margin: 0 -15px 0 -15px;
}

#break-add-col, #session-add-col {
  margin-left: 15px;
}

.timer-btn {
  background-color: Transparent;
  border: none;
  font-size: 14px;
}

#timer {
  border: 2px solid gray;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #A2DED0;
  height: 175px;
  width: 175px;
  background: linear-gradient(gray 100%, #A2DED0 0%);
  margin-top: 20px;
}

#timer-text {
  margin: 0px 0px 15px 0px;
  font-size: 28px;
}

#timer-time {
  font-size: 24px;
}

button:focus {
  outline: none;
}
